$color_1: #fff;
$font-family_1: 'Inter', sans-serif;
$background-color_1: black;
$background-color_2: orange;

* {
	--breakpoint: var(--break-at, 30rem);
	--min: min((var(--breakpoint) - 100%) * 999, 100%);
	--clamp: clamp(100% / var(--cols, 1) - 15px, (var(--breakpoint) - 100%) * 999, 100%);
}
.container {
	width: min(100%, 1200px);
	margin: 0 auto;
	padding: 20px;
	display: grid;
	gap: 10px;
}
ul {
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax( var(--min), 1fr ) );
	gap: 5px;
	grid-auto-flow: dense;
	padding-left: 0px;
}
nav {
	li {
		background-color: $background-color_1;
		padding: 6px;
		color: $color_1;
	}
}
header {
	padding: 25px 0;
	background-color: $background-color_2;
	color: $color_1;
	text-align: center;
}
footer {
	padding: 25px 0;
	background-color: $background-color_2;
	color: $color_1;
	text-align: center;
}
main {
	--break-at: 40rem;
	display: grid;
	grid: dense auto-flow auto / repeat( auto-fit, minmax( var(--min), 1fr ) );
	gap: 15px;
}
section {
	--cols: 2;
	--break-at: 30rem;
	display: grid;
	grid: dense auto-flow auto / repeat( auto-fit, minmax( var(--clamp), 1fr ) );
	gap: 15px;
	.item {
		background: orange;
		color: $color_1;
		padding-top: 40%;
		text-align: center;
	}
}
aside {
	--cols: 3;
	grid-column-end: -1;
	display: grid;
	grid: auto-flow 70px / repeat( auto-fill, minmax( var(--clamp), 1fr ) );
	gap: 5px;
	.item {
		background: #000;
		color: $color_1;
	}
}
html {
	height: 100%;
}
body {
	min-height: 100%;
	font-family: $font-family_1;
}
